<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

  <% @blogs.each do |blog| %>
    <%= blog.title %><br/>
    <%= blog.content %><br/>
    <%= link_to 'Show', blog %>
    <%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

<br>

<%= link_to 'New Blog', new_blog_path %>
