<p id="notice"><%= notice %></p>
<div class='center'>
  <h1>BLOG</h1>
  <% if current_user %>
    <h3><%= link_to 'New Blog', new_blog_path %></h3>
  <% end %>
  <hr class="hr2">
    <% @blogs.each do |blog| %>
      <div class='blog_content'>
        <h2><%= simple_format(blog.title, class: 'blog_title') %></h2>
        <br>
        <h4><%= simple_format(blog.content, class: 'blog_body') %></h4>
        <br>
        <% if current_user %>
          <%= link_to 'Show', blog %> |
          <%= link_to 'Edit', edit_blog_path(blog) %> |
          <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <hr>
      </div>
    <% end %>
</div>
<br>
