<h1 class="text-center">CRANE SERVICES</h1>
<% if current_user %>
  <h2><%= link_to 'New Picture', '/well_pumps/commercial/crane_services/new' %></h2>
<% end %>

<% @crane_services.each do |crane| %>
  <div class='images'>
    <%= link_to image_tag(crane.crane_pic.url(:medium)), crane.crane_pic.url, rel: 'lightbox', data: {toggle: 'tooltip', placement: 'bottom', class: 'big_tooltip'}, title: crane.crane_service_tag %>
    <!-- <h4><%= crane.crane_service_tag %></h4> -->
    <br>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/well_pumps/commercial/crane_services/#{crane.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>
<h1 class='back'><%= link_to 'Back', '/well_pumps/commercial' %></h1>
