<h1>sup from Hospitality</h1>

<h3><%= link_to 'Softners', '/water_treatment/commercial/hospitality/softners' %></h3>
<h3><%= link_to 'Chlorine Removal', '/water_treatment/commercial/hospitality/chlorine_removal' %></h3>
<h3><%= link_to 'UltraPure Water | Process Water | Reverse Osmosis', '/water_treatment/commercial/hospitality/ultrapure_process_reverse_osmosis' %></h3>
<h3><%= link_to 'Custom Applications', '/water_treatment/commercial/hospitality/custom_applications' %></h3>

<h2><%= link_to 'Back', '/water_treatment/commercial' %></h2>
