<div class='center'>
  <h1>Hospitality</h1>
  <hr>
  <h3><%= link_to 'Softners', '/water_treatment/commercial/hospitality/softners' %></h3>
  <h3><%= link_to 'Chlorine Removal', '/water_treatment/commercial/hospitality/chlorine_removals' %></h3>
  <h3><%= link_to 'UltraPure Water | Process Water | Reverse Osmosis', '/water_treatment/commercial/hospitality/ultrapure_process_reverse_osmosis' %></h3>
  <h3><%= link_to 'Custom Applications', '/water_treatment/commercial/hospitality/custom_applications' %></h3>
</div>
<h1 class='back'><%= link_to 'Back', '/water_treatment/commercial' %></h1>
