<h1>How Can We Help You?</h1>
<h3><%= link_to 'Well Parts & Services', '/well_pumps' %></h3>
<h3><%= link_to 'Well Storage Tanks', '/water_storage' %></h3>
<h3><%= link_to 'Water Testing Services', '/water_testing' %></h3>
<h3><%= link_to 'Flood Prevention Systems', '/flood_prevention' %></h3>
<h3><%= link_to 'Water Treatment Systems', '/water_treatment' %></h3>
