<div class="welcome_page">
  <div class='center'>
    <!-- <h1>NATIONAL WATER SERVICE</h1> -->
    <!-- <hr> -->
    <h2>How Can We Help You?</h2>
    <hr style='margin:0 30em;'>
    <!-- <button type="button" class="btn btn-secondary btn-lg home_btn"><%= link_to 'Well Parts & Services', '/well_pumps' %></button> -->
    <a href="/well_pumps"><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Well Pumps</h3></button></a><br>
    <a href="/water_storage"><button type="button" class="btn btn-secondary btn-lg storage_button"><%= link_to 'Well Storage Tanks', '/water_storage' %></button></a><br><br>
    <a href="/water_testings"><button type="button" class="btn btn-secondar btn-lg testings_button"><h3><%= link_to 'Water Testing Services', '/water_testings' %></h3></button></a><br>
    <h3><%= link_to 'Flood Prevention Systems', '/flood_preventions' %></h3>
    <h3><%= link_to 'Water Treatment Systems', '/water_treatment' %></h3>
  </div>
</div>
