<div class='center'>
  <h1>WELL PUMPS</h1>
  <hr>
  <h3><%= link_to 'Commercial', '/well_pumps/commercial' %></h3>
  <h3><%= link_to 'Residential', '/well_pumps/residential' %></h3>
  <h3><%= link_to 'Well Service and Repair', '/well_pumps/service_repairs' %></h3>
  <h3><%= link_to 'Well Inspections', '/well_pumps/well_inspections' %></h3>
</div>
<h2><%= link_to 'Back', '/' %></h2>
