<h1>RESIDENTIAL</h1>

<h3><%= link_to 'New Service Lines', '/well_pumps/residential/new_service_lines' %></h3>
<h3><%= link_to 'New Pumps and Pressure Tanks', '/well_pumps/residential/new_pumps_pressure_tanks' %></h3>
<h3><%= link_to 'Emergency Service', '/well_pumps/residential/emergency_services' %></h3>
<h3><%= link_to 'Custom Repairs | Jet Pump Conversions | Well Pit Repairs', '/well_pumps/residential/repairs_conversions_pit_repairs' %></h3>

<h2><%= link_to 'Back', '/well_pumps' %></h2>
