<!DOCTYPE html>
<html>
<head>
  <title>NwsSite2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class='nav nav-tabs'>
        <li><a href="/">HOME</a></li>
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Well Pumps<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/well_pumps/commercial">Commercial</a></li>
            <li><a href="/well_pumps/residential">Residential</a></li>
            <li><a href="/well_pumps/service_repairs">Well Service &amp; Repair</a></li>
            <li><a href="/well_pumps/well_inspections">Well Inspections</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Well Storage Tanks<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/water_storage/low_yielding_wells">Low Yielding Wells</a></li>
            <li><a href="/water_storage/irrigation_storages">Irrigation Storage</a></li>
          </ul>
        </li>
        <li><a href="/water_testings">Water Testing</a></li>
        <li><a href="/flood_preventions">Flood Prevention</a></li>
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Water Treatment<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/water_treatment/commercial">Commercial</a></li>
            <li><a href="/water_treatment/residential">Residential</a></li>
            <li><a href="/water_treatment/reverse_osmosis">Reverse Osmosis</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  <% end %> -->
  <h3><%= link_to 'Home', '/' %> |
  <%= link_to 'Blog', '/blog' %> |
  <% if current_user %>
    <%= link_to "Logout", '/logout' %> | Signed in as <%= current_user.name %>
  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %></h3>


<%= yield %>

<!-- <%  unless current_page?('/') %>
  <h2><%= link_to 'Back', :back %></h2>
<% end %> -->


</body>
</html>
