<!DOCTYPE html>
<html>
<head>
  <title>NwsSite2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="header_inner">
      <a href="/"><%= image_tag('logo.png', class: 'header_image') %></a>
      <div class="pull-right header_phone text-center">
        <h3 class='text-justify'>Call Us!: (301)-854-1333</h3>
        <ul class="social_media_icons text-center">
          <i class="fa fa-facebook-official fa-3x"></i>
          <i class="fa fa-twitter-square fa-3x"></i>
          <i class="fa fa-instagram fa-3x"></i>
          <!-- <%= image_tag('snapchat_icon.png', size: '43x43', style: 'margin-bottom:15px;') %> -->
        </ul>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class='nav nav-tabs'>
        <li><a href="/">HOME</a></li>
        <li><a href="/blog">Blog</a></li>
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Well Pumps<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/well_pumps"><strong>Well Pumps</strong></a></li>
            <li><a href="/well_pumps/commercial">Commercial</a></li>
            <li><a href="/well_pumps/residential">Residential</a></li>
            <li><a href="/well_pumps/service_repairs">Well Service &amp; Repair</a></li>
            <li><a href="/well_pumps/well_inspections">Well Inspections</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Well Storage Tanks<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/water_storage"><strong>Water Storage</strong></a></li>
            <li><a href="/water_storage/low_yielding_wells">Low Yielding Wells</a></li>
            <li><a href="/water_storage/irrigation_storages">Irrigation Storage</a></li>
          </ul>
        </li>
        <li><a href="/water_testings">Water Testing</a></li>
        <li><a href="/flood_preventions">Flood Prevention</a></li>
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Water Treatment<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/water_treatment"><strong>Water Treatment</strong></a></li>
            <li><a href="/water_treatment/commercial">Commercial</a></li>
            <li><a href="/water_treatment/residential">Residential</a></li>
            <li><a href="/water_treatment/reverse_osmosis">Reverse Osmosis</a></li>
          </ul>
        </li>
        <li><a href="/messages">Contact</a></li>
      </ul>
    </div>
  </nav>

  <% if current_user %>
    <div class='dropdown' id='main_dropdown'>
      <button class="btn btn-default dropdown-toggle" type="button" id="new_pics_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Jump To Landing Pages
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="new_pics_dropdown">
        <li><a href='/blog/new'>New Blog</a></li>
        <li><a href='/well_pumps/commercial/crane_services/new'>New Crane Service</a></li>
        <li><a href='/well_pumps/commercial/trenchings/new'>New Trenching</a></li>
        <li><a href='/well_pumps/commercial/pumps_tanks_booster/new'>New Pumps Tanks Boosters</a></li>
        <li><a href='/well_pumps/residential/new_service_lines/new'>New Service Line</a></li>
        <li><a href='/well_pumps/residential/new_pumps_pressure_tanks/new'>New Pumps and Pressure Tanks</a></li>
        <li><a href='/well_pumps/residential/emergency_services/new'>New Emergency Service</a></li>
        <li><a href='/well_pumps/residential/repairs_conversions_pit_repairs/new'>New Reppairs/Conversions</a></li>
        <li><a href='/well_pumps/service_repairs/new'>New Service Repair</a></li>
        <li><a href='/well_pumps/well_inpsections/new'>New Well Inspection</a></li>
        <li><a href='/water_storage/low_yielding_wells/new'>New Low Yielding Well</a></li>
        <li><a href='/water_storage/irrigation_storages/new'>New Irrigation Storage</a></li>
        <li><a href='/water_testings/new'>New Water Testing</a></li>
        <li><a href='/flood_preventions/new'>New Flood Prevention</a></li>
        <li><a href='/water_treatment/commercial/hospitality/softners/new'>New Softners</a></li>
        <li><a href='/water_treatment/commercial/hospitality/chlorine_removals/new'>New Chlorine Removal</a></li>
        <li><a href='/water_treatment/commercial/hospitality/ultrapure_process_reverse_osmosis/new'>New Ultrapure/Reverse Osmosis</a></li>
        <li><a href='/water_treatment/commercial/hospitality/custom_applications/new'>New Custom Application</a></li>
        <li><a href='/water_treatment/reverse_osmosis/undersinks/new'>New Undersink RO</a></li>
        <li><a href='/water_treatment/reverse_osmosis/basements/new'>New Basement RO</a></li>
        <li><a href='/water_treatment/reverse_osmosis/whole_houses/new'>New Wholse House RO</a></li>
      </ul>
    </div>
  <% end %>


  <h1 class="text-center">NATIONAL WATER SERVICE</h1>
  <hr>

  <!-- <% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  <% end %> -->


<%= yield %>
<div class="user_stuff">
  <h5><% if current_user %>
    <%= link_to "Logout", '/logout' %> | Signed in as <%= current_user.name %>
    <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %></h5>
  </div>

<!-- <%  unless current_page?('/') %>
  <h2><%= link_to 'Back', :back %></h2>
<% end %> -->


</body>
</html>
